/* Модальная структура документа */

/*общие настройки для всего документа*/

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 320px;
  width: 250px;
}

header {
  width: 250px;
  height: 50px;
  border-bottom: 1px solid #d2d2d2;
}

.top {
  margin: auto;
  padding-top: 16px;
  width: 210px;
  height: 26px;
}

.top img {
  height: 26px;
}

.top h1 {
  margin-top: 6px;
  font-size: 220%;
  position: relative;
  bottom: 37px;
  left: 40px;
}

main {
  width: 250px;
  height: 200px;
  background: #ebebeb;
}

footer {
  width: 250px;
  height: 50px;
  border-top: 1px solid #d2d2d2;
}

#signin {
  display: block;
  margin: auto;
  margin-top: 19px;
  background-repeat: repeat-x;
  border: 1px solid rgba(27, 31, 35, .2);
  background-position: -1px -1px;
  cursor: pointer;
  border-radius: 4px 4px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  width: 200px;
  height: 35px;
}

#signin:hover {
  background-color: #2c9945;
  background-image: linear-gradient(-180deg, #2c9945, #2c9945 90%);
}

#logout {
  display: block;
  margin: auto;
  margin-top: 59px;
  background-repeat: repeat-x;
  border: 1px solid rgba(27, 31, 35, .2);
  background-position: -1px -1px;
  cursor: pointer;
  border-radius: 4px 4px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  user-select: none;
  width: 200px;
  height: 35px;
}

#logout:hover {
  background-color: #2c9945;
  background-image: linear-gradient(-180deg, #2c9945, #2c9945 90%);
}

.page-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.toggle-button {
  margin-left: 3px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-in-out;
}

.toggle-button>.inner-circle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 1 2px 5px 0 rgba(0, 0, 0, 0.7);
  border: solid 1px gray;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

.toggle-button.active {
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  transition: all 200ms ease-in-out;
}

.toggle-button.active>.inner-circle {
  margin-left: 20px;
  transition: all 200ms ease-in-out;
}

.mainText {
  padding-top: 20px;
  text-align: center;
}

#switch {
  font-size: 11px;
  margin-left: 5px;
  padding-top: 7px;
}

.black {
  top: 100px;
}

#blackList {
  outline: none;
  background-repeat: repeat-x;
  border: 1px solid rgba(27, 31, 35, .2);
  background-position: -1px -1px;
  cursor: pointer;
  border-radius: 4px 4px;
  background-color: #cdcecd;
  background-image: linear-gradient(-180deg, #ffffff, #ffffff 90%);
  color: rgb(0, 0, 0);
}

.menu {
  width: 250px;
  height: 55px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #d2d2d2;
}

.menu ul, .menu ol {
  list-style: none;
  margin-top: 15px;
  margin-left: 0px;
}

.menu>ul {
  display: flex;
  justify-content: center;
  margin-right: 38px;
  text-align: center;
}

.menu>ul li button {
  height: 37px;
  width: 80px;
  margin-right: 2px;
  font-size: 13px;
  color: white;
  padding-left: 17px;
  text-decoration: none;
  background-repeat: repeat-x;
  border: 1px solid rgba(27, 31, 35, .2);
  background-position: -1px -1px;
  cursor: pointer;
  border-radius: 4px 4px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  user-select: none;
}

.menu>ul li button:hover {
  background-color: #2c9945;
  background-image: linear-gradient(-180deg, #2c9945, #2c9945 90%);
}

.menu>ul li {
  position: relative;
}

.menu>ul li>button i.fa {
  position: absolute;
  top: 13px;
  left: 5px;
  font-size: 14px;
}

.contactMenu {
  padding-left: 5px;
  padding-top: 6px;
  display: none;
  width: 250px;
  min-height: 67px;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
}

.contactMenu a {
  display: block;
  font-size: 13px;
  text-decoration: none;
}

.blackListMenu {
  padding-top: 6px;
  display: none;
  width: 250px;
  min-height: 67px;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
}

.blackListMenu input {
  margin-left: 5px;
  font-size: 13px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #d2d2d2;
}

.blackListMenu input:focus {
  border-bottom: 1px solid black;
}

.blackListMenu button {
  margin-left: 5px;
  width: 75px;
  height: 24px;
  text-decoration: none;
  background-repeat: repeat-x;
  border: 1px solid rgba(27, 31, 35, .2);
  background-position: -1px -1px;
  cursor: pointer;
  border-radius: 4px 4px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  user-select: none;
  color: white;
  font-size: 14px;
}

.blackListMenu button:hover {
  background-color: #2c9945;
  background-image: linear-gradient(-180deg, #2c9945, #2c9945 90%);
}

#showButAll {
  font-size: 11px;
  width: 150px;
  margin-left: 91px;
}

#delButAll {
  margin-left: 91px;
  font-size: 11px;
  margin-top: 9px;
  width: 150px;
  margin-bottom: 6px;
}

.statsMenu {
  padding-left: 5px;
  padding-top: 7px;
  display: none;
  width: 250px;
  background-color: white;
  border-bottom: 1px solid #d2d2d2;
}

.stat1Text {
  font-size: 12px;
}

.stat2Text {
  font-size: 12px;
}